In [1]:
pip install yahoo-fin

Collecting yahoo-fin
  Downloading yahoo_fin-0.8.9.1-py3-none-any.whl (10 kB)
Collecting requests-html
  Downloading requests_html-0.10.0-py3-none-any.whl (13 kB)
Collecting feedparser
  Downloading feedparser-6.0.10-py3-none-any.whl (81 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 81.1/81.1 kB 1.6 MB/s eta 0:00:00a 0:00:01
Requirement already satisfied: requests in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from yahoo-fin) (2.29.0)
Requirement already satisfied: pandas in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from yahoo-fin) (2.0.3)
Collecting sgmllib3k
  Downloading sgmllib3k-1.0.0.tar.gz (5.8 kB)
  Preparing metadata (setup.py) ... done
Requirement already satisfied: python-dateutil>=2.8.2 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from pandas->yahoo-fin) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from pandas->yahoo-fin) (2023.3)
Requirement already satisfied: tzdata>=2022.1 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from pandas->yahoo-fin) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from pandas->yahoo-fin) (1.24.3)
Requirement already satisfied: charset-normalizer<4,>=2 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from requests->yahoo-fin) (3.1.0)
Requirement already satisfied: idna<4,>=2.5 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from requests->yahoo-fin) (3.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from requests->yahoo-fin) (1.26.15)
Requirement already satisfied: certifi>=2017.4.17 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from requests->yahoo-fin) (2022.12.7)
Collecting pyquery
  Downloading pyquery-2.0.0-py3-none-any.whl (22 kB)
Collecting fake-useragent
  Downloading fake_useragent-1.3.0-py3-none-any.whl (15 kB)
Collecting parse
  Downloading parse-1.19.1-py2.py3-none-any.whl (18 kB)
Collecting bs4
  Downloading bs4-0.0.1.tar.gz (1.1 kB)
  Preparing metadata (setup.py) ... done
Collecting w3lib
  Downloading w3lib-2.1.2-py3-none-any.whl (21 kB)
Collecting pyppeteer>=0.0.14
  Downloading pyppeteer-1.0.2-py3-none-any.whl (83 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 83.4/83.4 kB 2.3 MB/s eta 0:00:00
Collecting appdirs<2.0.0,>=1.4.3
  Downloading appdirs-1.4.4-py2.py3-none-any.whl (9.6 kB)
Collecting importlib-metadata>=1.4
  Downloading importlib_metadata-6.8.0-py3-none-any.whl (22 kB)
Collecting pyee<9.0.0,>=8.1.0
  Downloading pyee-8.2.2-py2.py3-none-any.whl (12 kB)
Requirement already satisfied: tqdm<5.0.0,>=4.42.1 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from pyppeteer>=0.0.14->requests-html->yahoo-fin) (4.65.0)
Collecting websockets<11.0,>=10.0
  Using cached websockets-10.4-cp311-cp311-macosx_10_9_x86_64.whl (97 kB)
Requirement already satisfied: six>=1.5 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas->yahoo-fin) (1.16.0)
Requirement already satisfied: beautifulsoup4 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from bs4->requests-html->yahoo-fin) (4.12.2)
Requirement already satisfied: lxml>=2.1 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from pyquery->requests-html->yahoo-fin) (4.9.2)
Requirement already satisfied: cssselect>=1.2.0 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from pyquery->requests-html->yahoo-fin) (1.2.0)
Collecting zipp>=0.5
  Downloading zipp-3.17.0-py3-none-any.whl (7.4 kB)
Requirement already satisfied: soupsieve>1.2 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from beautifulsoup4->bs4->requests-html->yahoo-fin) (2.4.1)
Installing collected packages: sgmllib3k, pyee, parse, fake-useragent, appdirs, zipp, websockets, w3lib, pyquery, feedparser, importlib-metadata, bs4, pyppeteer, requests-html, yahoo-fin
  DEPRECATION: sgmllib3k is being installed using the legacy 'setup.py install' method, because it does not have a 'pyproject.toml' and the 'wheel' package is not installed. pip 23.1 will enforce this behaviour change. A possible replacement is to enable the '--use-pep517' option. Discussion can be found at https://github.com/pypa/pip/issues/8559
  Running setup.py install for sgmllib3k ... done
  DEPRECATION: bs4 is being installed using the legacy 'setup.py install' method, because it does not have a 'pyproject.toml' and the 'wheel' package is not installed. pip 23.1 will enforce this behaviour change. A possible replacement is to enable the '--use-pep517' option. Discussion can be found at https://github.com/pypa/pip/issues/8559
  Running setup.py install for bs4 ... done
Successfully installed appdirs-1.4.4 bs4-0.0.1 fake-useragent-1.3.0 feedparser-6.0.10 importlib-metadata-6.8.0 parse-1.19.1 pyee-8.2.2 pyppeteer-1.0.2 pyquery-2.0.0 requests-html-0.10.0 sgmllib3k-1.0.0 w3lib-2.1.2 websockets-10.4 yahoo-fin-0.8.9.1 zipp-3.17.0

[notice] A new release of pip available: 22.3.1 -> 23.3.1
[notice] To update, run: pip3 install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [2]:
from yahoo_fin.stock_info import get_data
import pandas as pd
import numpy as np

In [4]:
#Get historical prices from first candle to the most recent candle with date as a colum
hist = get_data('AAPL', index_as_date=False)

# Show the first 5 rows of our dataframe
hist.tail()

            date        open        high  ...    adjclose    volume  ticker
10821 2023-11-14  187.699997  188.110001  ...  187.440002  60108400    AAPL
10822 2023-11-15  187.850006  189.500000  ...  188.009995  53790500    AAPL
10823 2023-11-16  189.570007  190.960007  ...  189.710007  54412900    AAPL
10824 2023-11-17  190.250000  190.380005  ...  189.690002  50922700    AAPL
10825 2023-11-20  189.889999  191.910004  ...  191.449997  46505100    AAPL

[5 rows x 8 columns]

In [6]:
hist.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10826 entries, 0 to 10825
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   date      10826 non-null  datetime64[ns]
 1   open      10826 non-null  float64
 2   high      10826 non-null  float64
 3   low       10826 non-null  float64
 4   close     10826 non-null  float64
 5   adjclose  10826 non-null  float64
 6   volume    10826 non-null  int64
 7   ticker    10826 non-null  object
dtypes: datetime64[ns](1), float64(5), int64(1), object(1)
memory usage: 676.8+ KB

In [8]:
# Remove teh ajusted close column and rename our dataframe as "prices"
prices = hist.drop(['adjclose'], axis=1)
prices.tail()

            date        open        high  ...       close    volume  ticker
10821 2023-11-14  187.699997  188.110001  ...  187.440002  60108400    AAPL
10822 2023-11-15  187.850006  189.500000  ...  188.009995  53790500    AAPL
10823 2023-11-16  189.570007  190.960007  ...  189.710007  54412900    AAPL
10824 2023-11-17  190.250000  190.380005  ...  189.690002  50922700    AAPL
10825 2023-11-20  189.889999  191.910004  ...  191.449997  46505100    AAPL

[5 rows x 7 columns]

In [17]:
# Difference of the closing price and opening price
prices['O-to-C'] = prices['close'] - prices['open']

In [18]:
# Add 20 day moving average for Open-to-Close column
prices['OC-20D-Mean'] = prices['O-to-C'].rolling(20).mean()

In [16]:
#Calculate the % change of the current day´s 0-to-C relative to the moving average
prices['OC-%-from-20D-Mean'] = 100*(prices['O-to-C'] - prices['OC-20D-Mean'])/prices['OC-20D-Mean']

In [19]:
# Get the maximum OC compared to the recent 10 candles (including the current candle)
prices['MaxOC_Prev10'] = prices['O-to-C'].rolling(10).max()

In [20]:
# Add 20-Day moving average for volume
prices['Volume-20D-Mean'] = prices['volume'].rolling(20).mean()

In [21]:
# Calculate the % change of the current volumn relative to the moving average
prices['Volume-%-from-20D-Mean'] = 100*(prices['volume']- prices['Volume-20D-Mean'])/ prices['Volume-20D-Mean']

In [22]:
prices.columns

Index(['date', 'open', 'high', 'low', 'close', 'volume', 'ticker', '0-to-C',
       'OC-20D-Mean', 'O-to-C', 'OC-%-from-20D-Mean', 'MaxOC_Prev10',
       'Volume-20D-Mean', 'Volume-%-from-20D-Mean'],
      dtype='object')

In [26]:
# Rearrange the columns for our dataframe
prices = prices [['ticker', 'date', 'open', 'high', 'low', 'close', 
                 'O-to-C', 'OC-20D-Mean', 'volume', 'Volume-20D-Mean', 
                 'MaxOC_Prev10', 'Volume-%-from-20D-Mean', 'OC-%-from-20D-Mean', 
                ]]

# Show the 10 most recent rows
prices.head(25)

   ticker       date  ...  Volume-%-from-20D-Mean  OC-%-from-20D-Mean
0    AAPL 1980-12-12  ...                     NaN                 NaN
1    AAPL 1980-12-15  ...                     NaN                 NaN
2    AAPL 1980-12-16  ...                     NaN                 NaN
3    AAPL 1980-12-17  ...                     NaN                 NaN
4    AAPL 1980-12-18  ...                     NaN                 NaN
5    AAPL 1980-12-19  ...                     NaN                 NaN
6    AAPL 1980-12-22  ...                     NaN                 NaN
7    AAPL 1980-12-23  ...                     NaN                 NaN
8    AAPL 1980-12-24  ...                     NaN                 NaN
9    AAPL 1980-12-26  ...                     NaN                 NaN
10   AAPL 1980-12-29  ...                     NaN                 NaN
11   AAPL 1980-12-30  ...                     NaN                 NaN
12   AAPL 1980-12-31  ...                     NaN                 NaN
13   AAPL 1981-01-02  ...                     NaN                 NaN
14   AAPL 1981-01-05  ...                     NaN                 NaN
15   AAPL 1981-01-06  ...                     NaN                 NaN
16   AAPL 1981-01-07  ...                     NaN                 NaN
17   AAPL 1981-01-08  ...                     NaN                 NaN
18   AAPL 1981-01-09  ...                     NaN                 NaN
19   AAPL 1981-01-12  ...              -70.154306          299.999466
20   AAPL 1981-01-13  ...              -59.637562           81.820168
21   AAPL 1981-01-14  ...              -70.850276         -100.000000
22   AAPL 1981-01-15  ...              -68.348370         -100.000000
23   AAPL 1981-01-16  ...              -67.161802          100.002136
24   AAPL 1981-01-19  ...                6.063204         -100.000000

[25 rows x 13 columns]

In [24]:
prices.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10826 entries, 0 to 10825
Data columns (total 13 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   ticker                  10826 non-null  object
 1   date                    10826 non-null  datetime64[ns]
 2   open                    10826 non-null  float64
 3   high                    10826 non-null  float64
 4   low                     10826 non-null  float64
 5   close                   10826 non-null  float64
 6   O-to-C                  10826 non-null  float64
 7   OC-20D-Mean             10807 non-null  float64
 8   volume                  10826 non-null  int64
 9   Volume-20D-Mean         10807 non-null  float64
 10  MaxOC_Prev10            10817 non-null  float64
 11  Volume-%-from-20D-Mean  10807 non-null  float64
 12  OC-%-from-20D-Mean      10807 non-null  float64
dtypes: datetime64[ns](1), float64(10), int64(1), object(1)
memory usage: 1.1+ MB

In [27]:
# Remove rows with null values
prices= prices.dropna()
prices.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10807 entries, 19 to 10825
Data columns (total 13 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   ticker                  10807 non-null  object
 1   date                    10807 non-null  datetime64[ns]
 2   open                    10807 non-null  float64
 3   high                    10807 non-null  float64
 4   low                     10807 non-null  float64
 5   close                   10807 non-null  float64
 6   O-to-C                  10807 non-null  float64
 7   OC-20D-Mean             10807 non-null  float64
 8   volume                  10807 non-null  int64
 9   Volume-20D-Mean         10807 non-null  float64
 10  MaxOC_Prev10            10807 non-null  float64
 11  Volume-%-from-20D-Mean  10807 non-null  float64
 12  OC-%-from-20D-Mean      10807 non-null  float64
dtypes: datetime64[ns](1), float64(10), int64(1), object(1)
memory usage: 1.2+ MB

### The Potential Breakout Candles, conditions are: 
1. Green candle (closing price is higher than the opening price)
2. Body that is longest in 10 days
3. Body that is at least 100% longer than the average of the previous 20 candles (including the current candles)
4. Volume that is at least 50% higher than the average of the previous 20 candles (including the current candle)

In [30]:
conditions = (prices['O-to-C'] >= 0.0) & (prices['O-to-C'] == prices['MaxOC_Prev10']) & (prices['OC-%-from-20D-Mean'] >= 100.0) & (prices['Volume-%-from-20D-Mean'] >= 50.0)

breakouts = prices[conditions]

breakouts

      ticker       date  ...  Volume-%-from-20D-Mean  OC-%-from-20D-Mean
458     AAPL 1982-10-06  ...              114.678619         3042.564013
459     AAPL 1982-10-07  ...              234.278301         1099.891322
460     AAPL 1982-10-08  ...              164.406853          687.902032
477     AAPL 1982-11-02  ...               55.465433          242.081219
528     AAPL 1983-01-14  ...               57.163694         1072.339495
...      ...        ...  ...                     ...                 ...
10322   AAPL 2021-11-18  ...               96.529303          706.197539
10329   AAPL 2021-11-30  ...              115.347337          674.050332
10388   AAPL 2022-02-24  ...               51.941631         2960.228283
10559   AAPL 2022-10-28  ...               86.151537          698.730803
10625   AAPL 2023-02-03  ...              104.200821          320.676462

[167 rows x 13 columns]

In [31]:
# Save the values under the "date" column to a list
breakouts['date'].tolist()

[Timestamp('1982-10-06 00:00:00'),
 Timestamp('1982-10-07 00:00:00'),
 Timestamp('1982-10-08 00:00:00'),
 Timestamp('1982-11-02 00:00:00'),
 Timestamp('1983-01-14 00:00:00'),
 Timestamp('1983-01-20 00:00:00'),
 Timestamp('1983-04-20 00:00:00'),
 Timestamp('1983-08-31 00:00:00'),
 Timestamp('1983-12-13 00:00:00'),
 Timestamp('1983-12-15 00:00:00'),
 Timestamp('1984-01-04 00:00:00'),
 Timestamp('1984-04-26 00:00:00'),
 Timestamp('1984-05-21 00:00:00'),
 Timestamp('1984-08-03 00:00:00'),
 Timestamp('1985-12-16 00:00:00'),
 Timestamp('1985-12-18 00:00:00'),
 Timestamp('1986-01-07 00:00:00'),
 Timestamp('1986-01-29 00:00:00'),
 Timestamp('1986-02-19 00:00:00'),
 Timestamp('1986-03-14 00:00:00'),
 Timestamp('1986-04-24 00:00:00'),
 Timestamp('1986-05-12 00:00:00'),
 Timestamp('1986-08-13 00:00:00'),
 Timestamp('1986-10-30 00:00:00'),
 Timestamp('1986-11-04 00:00:00'),
 Timestamp('1986-11-05 00:00:00'),
 Timestamp('1986-11-24 00:00:00'),
 Timestamp('1986-11-25 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-08-06 00:00:00'),
 Timestamp('1988-01-04 00:00:00'),
 Timestamp('1988-01-11 00:00:00'),
 Timestamp('1988-03-03 00:00:00'),
 Timestamp('1989-01-04 00:00:00'),
 Timestamp('1989-04-07 00:00:00'),
 Timestamp('1989-10-05 00:00:00'),
 Timestamp('1989-10-06 00:00:00'),
 Timestamp('1989-10-16 00:00:00'),
 Timestamp('1990-03-08 00:00:00'),
 Timestamp('1990-03-19 00:00:00'),
 Timestamp('1990-05-22 00:00:00'),
 Timestamp('1990-12-20 00:00:00'),
 Timestamp('1991-01-09 00:00:00'),
 Timestamp('1991-01-10 00:00:00'),
 Timestamp('1991-01-16 00:00:00'),
 Timestamp('1991-03-05 00:00:00'),
 Timestamp('1991-07-05 00:00:00'),
 Timestamp('1991-08-01 00:00:00'),
 Timestamp('1991-10-15 00:00:00'),
 Timestamp('1991-12-18 00:00:00'),
 Timestamp('1992-01-02 00:00:00'),
 Timestamp('1992-02-25 00:00:00'),
 Timestamp('1992-10-16 00:00:00'),
 Timestamp('1992-10-26 00:00:00'),
 Timestamp('1992-12-17 00:00:00'),
 Timestamp('1993-01-08 00:00:00'),
 Timestamp('1993-01-11 00:00:00'),
 Timestamp('1993-05-13 00:00:00'),
 Timestamp('1993-06-10 00:00:00'),
 Timestamp('1993-10-21 00:00:00'),
 Timestamp('1994-01-05 00:00:00'),
 Timestamp('1994-01-24 00:00:00'),
 Timestamp('1994-02-07 00:00:00'),
 Timestamp('1994-07-21 00:00:00'),
 Timestamp('1994-07-29 00:00:00'),
 Timestamp('1994-10-05 00:00:00'),
 Timestamp('1995-01-10 00:00:00'),
 Timestamp('1995-01-11 00:00:00'),
 Timestamp('1995-05-12 00:00:00'),
 Timestamp('1995-06-19 00:00:00'),
 Timestamp('1995-06-21 00:00:00'),
 Timestamp('1995-11-07 00:00:00'),
 Timestamp('1996-08-19 00:00:00'),
 Timestamp('1996-10-01 00:00:00'),
 Timestamp('1997-08-01 00:00:00'),
 Timestamp('1997-10-10 00:00:00'),
 Timestamp('1997-10-15 00:00:00'),
 Timestamp('1998-01-02 00:00:00'),
 Timestamp('1998-01-06 00:00:00'),
 Timestamp('1998-02-09 00:00:00'),
 Timestamp('1998-02-18 00:00:00'),
 Timestamp('1998-02-23 00:00:00'),
 Timestamp('1998-02-26 00:00:00'),
 Timestamp('1998-03-04 00:00:00'),
 Timestamp('1998-07-01 00:00:00'),
 Timestamp('1998-07-08 00:00:00'),
 Timestamp('1998-07-13 00:00:00'),
 Timestamp('1998-08-21 00:00:00'),
 Timestamp('1998-10-09 00:00:00'),
 Timestamp('1999-01-07 00:00:00'),
 Timestamp('1999-04-23 00:00:00'),
 Timestamp('1999-05-03 00:00:00'),
 Timestamp('1999-07-08 00:00:00'),
 Timestamp('1999-09-02 00:00:00'),
 Timestamp('2000-03-01 00:00:00'),
 Timestamp('2001-01-03 00:00:00'),
 Timestamp('2001-04-18 00:00:00'),
 Timestamp('2001-09-17 00:00:00'),
 Timestamp('2001-11-26 00:00:00'),
 Timestamp('2002-01-02 00:00:00'),
 Timestamp('2002-01-17 00:00:00'),
 Timestamp('2002-11-21 00:00:00'),
 Timestamp('2003-01-16 00:00:00'),
 Timestamp('2003-03-13 00:00:00'),
 Timestamp('2003-05-05 00:00:00'),
 Timestamp('2003-05-06 00:00:00'),
 Timestamp('2003-06-18 00:00:00'),
 Timestamp('2003-08-28 00:00:00'),
 Timestamp('2003-10-07 00:00:00'),
 Timestamp('2004-01-05 00:00:00'),
 Timestamp('2004-02-27 00:00:00'),
 Timestamp('2004-03-04 00:00:00'),
 Timestamp('2004-03-05 00:00:00'),
 Timestamp('2004-06-16 00:00:00'),
 Timestamp('2004-07-14 00:00:00'),
 Timestamp('2004-08-26 00:00:00'),
 Timestamp('2004-10-14 00:00:00'),
 Timestamp('2004-10-18 00:00:00'),
 Timestamp('2004-11-24 00:00:00'),
 Timestamp('2005-02-16 00:00:00'),
 Timestamp('2005-05-23 00:00:00'),
 Timestamp('2005-08-12 00:00:00'),
 Timestamp('2005-09-06 00:00:00'),
 Timestamp('2005-10-13 00:00:00'),
 Timestamp('2006-01-10 00:00:00'),
 Timestamp('2007-01-09 00:00:00'),
 Timestamp('2007-05-30 00:00:00'),
 Timestamp('2008-07-22 00:00:00'),
 Timestamp('2009-09-16 00:00:00'),
 Timestamp('2009-10-21 00:00:00'),
 Timestamp('2010-03-09 00:00:00'),
 Timestamp('2010-10-15 00:00:00'),
 Timestamp('2011-01-18 00:00:00'),
 Timestamp('2011-09-19 00:00:00'),
 Timestamp('2012-02-09 00:00:00'),
 Timestamp('2012-03-14 00:00:00'),
 Timestamp('2012-08-20 00:00:00'),
 Timestamp('2013-08-13 00:00:00'),
 Timestamp('2013-11-26 00:00:00'),
 Timestamp('2014-04-28 00:00:00'),
 Timestamp('2014-07-23 00:00:00'),
 Timestamp('2014-09-10 00:00:00'),
 Timestamp('2016-04-27 00:00:00'),
 Timestamp('2016-09-12 00:00:00'),
 Timestamp('2016-09-14 00:00:00'),
 Timestamp('2016-10-26 00:00:00'),
 Timestamp('2016-11-16 00:00:00'),
 Timestamp('2017-02-01 00:00:00'),
 Timestamp('2017-05-08 00:00:00'),
 Timestamp('2017-10-27 00:00:00'),
 Timestamp('2018-05-04 00:00:00'),
 Timestamp('2018-08-01 00:00:00'),
 Timestamp('2018-08-02 00:00:00'),
 Timestamp('2019-03-21 00:00:00'),
 Timestamp('2019-08-13 00:00:00'),
 Timestamp('2020-02-28 00:00:00'),
 Timestamp('2020-03-02 00:00:00'),
 Timestamp('2020-07-31 00:00:00'),
 Timestamp('2020-08-21 00:00:00'),
 Timestamp('2020-10-12 00:00:00'),
 Timestamp('2020-11-30 00:00:00'),
 Timestamp('2020-12-15 00:00:00'),
 Timestamp('2021-11-18 00:00:00'),
 Timestamp('2021-11-30 00:00:00'),
 Timestamp('2022-02-24 00:00:00'),
 Timestamp('2022-10-28 00:00:00'),
 Timestamp('2023-02-03 00:00:00')]

# Putting All Codes in One Function

In [2]:
def potential_breakouts(ticker):
    '''A function that returns date and prices for potential breakouts of a stock using historical daily prices'''
    
    # Import libraries
    from yahoo_fin.stock_info import get_data
    import pandas as pd
    import numpy as np
    
    # Get the historical weekly prices from the specified start date and end date (both YYYY-mm-dd)
    hist = get_data(ticker, index_as_date=False)
    
    # Drop the adjusted close column
    prices = hist.drop(['adjclose'], axis=1)
    
    # Get the length of candle's body (from open to close)
    prices['O-to-C'] = prices['close'] - prices['open']
    
    # Get the rolling mean of the candles' bodies for recent 20 candles
    prices['OC-20D-Mean'] = prices['O-to-C'].rolling(20).mean()
    
    # Get the % change of the current OC relative from the rolling mean
    prices['OC-%-from-20D-Mean'] = 100*(prices['O-to-C'] - prices['OC-20D-Mean'])/prices['OC-20D-Mean']
    
    # Get the maximum OC compared to the recent 10 candles
    prices['MaxOC_Prev10'] = prices['O-to-C'].rolling(10).max()
    
    # Get the rolling mean of volume for the recent 20 candles
    prices['Volume-20D-Mean'] = prices['volume'].rolling(20).mean()
    
    # Get the % change of the current volume relative from the rolling mean
    prices['Volume-%-from-20D-Mean'] = 100*(prices['volume'] - prices['Volume-20D-Mean'])/prices['Volume-20D-Mean']
    
    # Drop the null values for the first 19 rows, where no mean can be computed yet
    prices = prices.dropna()
    
    # Rearrange columns
    prices = prices[['ticker', 'date', 'open', 'high', 'low', 'close', 
                     'O-to-C', 'OC-20D-Mean', 'volume', 'Volume-20D-Mean', 
                     'MaxOC_Prev10', 'OC-%-from-20D-Mean', 'Volume-%-from-20D-Mean', 
                ]]
    
    # Select the subset of dataframe where breakout conditions apply
    # Conditions: 1. green candle, 2. candle's body is longest in 10 days, 
    # 3. breakout volume is 50% higher than the rolling 20-day average, and
    # 4. breakout candle has body that is 100% higher than the rolling 20-day average
    
    condition = (prices['O-to-C'] >= 0.0) & (prices['O-to-C'] == prices['MaxOC_Prev10']) & (prices['OC-%-from-20D-Mean'] >= 100.0) & (prices['Volume-%-from-20D-Mean'] >= 50.0) 

    breakouts = prices[condition]

    return breakouts

In [5]:
potential_breakouts('AMZN')

,ticker,date,open,high,low,close,O-to-C,OC-20D-Mean,volume,Volume-20D-Mean,MaxOC_Prev10,OC-%-from-20D-Mean,Volume-%-from-20D-Mean
34,AMZN,1997-07-03,0.079948,0.095833,0.079688,0.095573,0.015625,0.000338,251544000,60387600.0,0.015625,4515.952827,316.549093
77,AMZN,1997-09-04,0.118229,0.127604,0.117188,0.127604,0.009375,0.001094,66960000,27416400.0,0.009375,757.182563,144.233379
79,AMZN,1997-09-08,0.126563,0.151042,0.125000,0.150000,0.023437,0.001927,112968000,30727200.0,0.023437,1116.244525,267.648207
88,AMZN,1997-09-19,0.169010,0.204167,0.168750,0.197396,0.028386,0.003268,178584000,67390800.0,0.028386,768.538189,164.997596
115,AMZN,1997-10-28,0.195833,0.250000,0.193750,0.247396,0.051563,0.001823,234384000,88263600.0,0.051563,2728.469137,165.550012
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6074,AMZN,2021-07-06,176.505493,184.274002,176.449997,183.787003,7.281509,1.023176,134896000,67654000.0,7.281509,611.657695,99.391019
6156,AMZN,2021-10-29,165.001007,168.740997,163.666000,168.621506,3.620499,0.320852,129722000,60837700.0,3.620499,1028.401820,113.226338
6160,AMZN,2021-11-04,168.500000,174.931503,168.250000,173.850006,5.350006,0.695327,107060000,63090000.0,5.350006,669.423039,69.694088
6170,AMZN,2021-11-18,178.317505,185.210007,178.050003,184.802994,6.485489,0.737025,114070000,72704800.0,6.485489,779.955447,56.894730
6407,AMZN,2022-10-28,97.910004,103.959999,97.660004,103.410004,5.500000,0.408500,223133400,68003005.0,5.500000,1246.389531,228.122853